#include "resources.h"

VS_VERSION VERSIONINFO
FILEVERSION 0, 6, 5, 0
PRODUCTVERSION 0, 6, 5, 0
FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041504e2"
        BEGIN
            VALUE "CompanyName", "Magnetic-Fox\0"
            VALUE "FileVersion", "0.65\0"
            VALUE "FileDescription", "Simple Noter\0"
            VALUE "InternalName", "SNotr065.exe\0"
            VALUE "LegalCopyright", "©2021-2024 Magnetic-Fox\0"
            VALUE "LegalTrademarks", "Noter™\0"
            VALUE "OriginalFilename", "SimpleNoter.exe\0"
            VALUE "ProductName", "Simple Noter v0.65\0"
            VALUE "ProductVersion", "0.65\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0415, 1250
    END
END

IDI_ICON1 ICON DISCARDABLE "noter16.ico"
IDI_ICON2 ICON DISCARDABLE "note.ico"

IDR_ACCELERATORS ACCELERATORS DISCARDABLE
BEGIN
    VK_TAB,         ID_ACC_TAB,             VIRTKEY, NOINVERT
    VK_F4,          ID_ACC_ALTF4,           VIRTKEY, ALT, NOINVERT
    VK_F1,          ID_ACC_F1,              VIRTKEY, NOINVERT
    "N",            ID_ACC_CTRLN,           VIRTKEY, CONTROL, NOINVERT
    VK_RETURN,      ID_ACC_ENTER,           VIRTKEY, NOINVERT
    VK_F5,          ID_ACC_F5,              VIRTKEY, NOINVERT
    VK_F8,          ID_ACC_F8,              VIRTKEY, NOINVERT
    "A",            ID_ACC_CTRLA,           VIRTKEY, CONTROL, NOINVERT
    "S",            ID_ACC_CTRLS,           VIRTKEY, CONTROL, NOINVERT
    "D",            ID_ACC_CTRLD,           VIRTKEY, CONTROL, NOINVERT
END

IDR_MENU1 MENU DISCARDABLE 
BEGIN
    POPUP "&Plik"
    BEGIN
        MENUITEM "&Nowa\tCtrl+N",               ID_FILE_NEW
        MENUITEM "&Otwórz\tEnter",              ID_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "Pobierz listê\tF5",           ID_FILE_RELOAD
        MENUITEM "Usuñ\tF8",                    ID_FILE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Za&koñcz\tAlt+F4",            ID_FILE_EXIT
    END
    POPUP "&Opcje"
    BEGIN
        MENUITEM "Preferencje...",              ID_OPTIONS_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "Po³¹czenie...",               ID_OPTIONS_CONNECTION
        MENUITEM "U¿ytkownik...",               ID_OPTIONS_CREDENTIALS

    END
    POPUP "Pomo&c"
    BEGIN
        MENUITEM "&Pomoc\tF1",                  ID_HELP_HELP
        MENUITEM "&Korzystanie z Pomocy"        ID_HELP_HOWTO
        MENUITEM SEPARATOR
        MENUITEM "&O programie...",             ID_HELP_ABOUT
    END
END

IDR_MENU2 MENU DISCARDABLE 
BEGIN
    POPUP "&Plik"
    BEGIN
        MENUITEM "&Dodaj / Aktualizuj\tCtrl+S", ID_FILE_ADDUP
        MENUITEM SEPARATOR
        MENUITEM "&W³aœciwoœci...",             ID_FILE_PROPERTIES
        MENUITEM "Do nowej notatki\tCtrl+D",    ID_FILE_TONEWNOTE
        MENUITEM SEPARATOR
        MENUITEM "Zamknij\tAlt+F4",             ID_FILE_EXIT
    END
    POPUP "&Edycja"
    BEGIN
        MENUITEM "&Cofnij\tCtrl+Z",             ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "&Wytnij\tCtrl+X",             ID_EDIT_CUT
        MENUITEM "&Kopiuj\tCtrl+C",             ID_EDIT_COPY
        MENUITEM "Wkl&ej\tCtrl+V",              ID_EDIT_PASTE
        MENUITEM "&Usuñ\tDel",                  ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Zaznacz wszystko\tCtrl+A",    ID_EDIT_SELECTALL
    END
    POPUP "Pomo&c"
    BEGIN
        MENUITEM "&Pomoc\tF1",                  ID_HELP_HELP
        MENUITEM "&Korzystanie z Pomocy"        ID_HELP_HOWTO
        MENUITEM SEPARATOR
        MENUITEM "O programie...",              ID_HELP_ABOUT
    END
END

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 280, 147
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "W³aœciwoœci notatki"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,115,126,50,14
    ICON            IDI_ICON2,IDC_STATIC,7,7,20,20
    LTEXT           "?",IDC_STATIC1,28,11,245,8
    LTEXT           "ID:",IDC_STATIC,28,30,54,8
    LTEXT           "Data dodania:",IDC_STATIC,28,40,46,8
    LTEXT           "   program:",IDC_STATIC,28,50,54,8
    LTEXT           "Ostatnia edycja:",IDC_STATIC,28,60,54,8
    LTEXT           "   program:",IDC_STATIC,28,70,54,8
    LTEXT           "?",IDC_STATIC2,90,30,183,8
    LTEXT           "?",IDC_STATIC3,90,40,183,8
    LTEXT           "?",IDC_STATIC4,90,50,183,8
    LTEXT           "?",IDC_STATIC5,90,60,183,8
    LTEXT           "?",IDC_STATIC6,90,70,183,8
    PUSHBUTTON      "&Zablokuj",IDC_BUTTON1,90,90,50,14
    PUSHBUTTON      "O&dblokuj",IDC_BUTTON2,140,90,50,14
END

IDD_DIALOG2 DIALOG DISCARDABLE  0, 0, 210, 162
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Informacje o programie"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,153,7,50,14
    ICON            IDI_ICON1,IDC_STATIC,7,7,20,20
    LTEXT           "SimpleNoter",IDC_STATIC7,28,7,110,8
    LTEXT           "wersja 16-bitowa",IDC_STATIC,28,17,110,8
    LTEXT           "Projekt i program:",IDC_STATIC,28,37,157,8
    LTEXT           "Bart³omiej ""Magnetic-Fox"" Wêgrzyn",IDC_STATIC,28,47,
                    157,8
    LTEXT           "W oprogramowaniu wykorzystano\nnastêpuj¹ce biblioteki:",
                    IDC_STATIC,28,67,157,16
    LTEXT           "json-parser ©2012-2021 the json-parser authors",
                    IDC_STATIC,36,85,167,8
    LTEXT           "utf8_decode.c ©2005 JSON.org",IDC_STATIC,36,95,149,8
    LTEXT           "utf8_encode.cpp © Ondøej Hruška",IDC_STATIC,36,105,149,
                    8
    LTEXT           "bzip2.c ©1996, 1997 Julian Seward\n    with patch ©2024 Magnetic-Fox",
                    IDC_STATIC,36,115,149,16
    LTEXT           "©2021-2024 Bart³omiej ""Magnetic-Fox"" Wêgrzyn",
                    IDC_STATIC,28,143,175,8
END

IDD_DIALOG3 DIALOG DISCARDABLE  0, 0, 215, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferencje"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,108,194,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,158,194,50,14
    GROUPBOX        "G³ówne okno",IDC_STATIC,7,7,201,40
    RADIOBUTTON     "Wyœwietl zgodnie z ustawieniami systemowymi",IDC_RADIO1,
                    11,17,189,10,WS_TABSTOP
    RADIOBUTTON     "Wyœwietl jako:",IDC_RADIO2,11,28,64,10,WS_TABSTOP
    COMBOBOX        IDC_COMBO1,78,27,122,60,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    GROUPBOX        "Okno edycji",IDC_STATIC,7,47,201,40
    RADIOBUTTON     "Wyœwietl tak, jak g³ówne okno",IDC_RADIO3,11,57,189,10,
                    WS_TABSTOP
    RADIOBUTTON     "Wyœwietl jako:",IDC_RADIO4,11,68,64,10,WS_TABSTOP
    COMBOBOX        IDC_COMBO2,78,67,122,60,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    CONTROL         "Pobierz listê notatek przy starcie programu",
                    IDC_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    11,90,189,10
    CONTROL         "Odœwie¿ listê notatek po dodaniu lub aktualizacji",
                    IDC_CHECK9,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    11,101,189,10
    CONTROL         "Zapamiêtaj pozycjê i rozmiary okienek",IDC_CHECK10,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,11,112,189,10
    CONTROL         "U¿yj kontrolek 3D",IDC_CHECK3,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,11,123,189,10
    CONTROL         "Przyciski",IDC_CHECK4,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,19,134,181,10
    CONTROL         "Listy",IDC_CHECK5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    19,145,181,10
    CONTROL         "Pola edycji",IDC_CHECK6,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,19,156,181,10
    CONTROL         "Listy rozsuwane",IDC_CHECK7,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,19,167,181,10
    CONTROL         "Dialogi",IDC_CHECK8,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,19,178,181,10
END

IDD_DIALOG4 DIALOG DISCARDABLE  0, 0, 200, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia po³¹czenia"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,93,149,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,143,149,50,14
    GROUPBOX        "Dane po³¹czenia",IDC_STATIC,7,7,186,78
    LTEXT           "Adres:",IDC_STATIC,11,21,22,8
    EDITTEXT        IDC_EDIT1,50,20,138,12,ES_AUTOHSCROLL
    LTEXT           "Port:",IDC_STATIC,11,35,16,8
    EDITTEXT        IDC_EDIT2,50,34,138,12,ES_AUTOHSCROLL
    LTEXT           "Udzia³:",IDC_STATIC,11,49,26,8
    EDITTEXT        IDC_EDIT3,50,48,138,12,ES_AUTOHSCROLL
    CONTROL         "Oczekuj &kompresji",IDC_CHECK11,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,11,64,125,10
    PUSHBUTTON      "&Testuj",IDC_BUTTON4,138,62,50,14
    GROUPBOX        "Informacje o serwerze",IDC_STATIC,7,85,186,60
    LTEXT           "Nazwa:",IDC_STATIC,11,99,25,8
    LTEXT           "Strefa czasowa:",IDC_STATIC,11,113,53,8
    LTEXT           "Wersja:",IDC_STATIC,11,127,27,8
    LTEXT           "-- nie po³¹czono --",IDC_STATIC8,70,99,118,8
    LTEXT           "-- nie po³¹czono --",IDC_STATIC9,70,113,118,8
    LTEXT           "-- nie po³¹czono --",IDC_STATIC10,70,127,118,8
END

IDD_DIALOG5 DIALOG DISCARDABLE  0, 0, 200, 204
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia u¿ytkownika"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,93,183,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,143,183,50,14
    GROUPBOX        "Dane logowania",IDC_STATIC,7,7,186,65
    LTEXT           "Nazwa u¿ytkownika:",IDC_STATIC,11,21,70,8
    EDITTEXT        IDC_EDIT4,84,20,90,12,ES_AUTOHSCROLL
    PUSHBUTTON      "R",IDC_BUTTON5,176,20,12,12
    LTEXT           "Has³o:",IDC_STATIC,11,35,70,8
    EDITTEXT        IDC_EDIT5,84,34,104,12,ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON      "&Testuj",IDC_BUTTON6,138,48,50,14
    GROUPBOX        "Informacje o u¿ytkowniku",IDC_STATIC,7,72,186,106
    LTEXT           "ID:",IDC_STATIC,11,86,10,8
    LTEXT           "Data rejestracji:",IDC_STATIC,11,100,53,8
    LTEXT           "...u¿yto do tego:",IDC_STATIC,11,114,53,8
    LTEXT           "Ostatnie zmiany:",IDC_STATIC,11,128,56,8
    LTEXT           "...u¿yto do tego:",IDC_STATIC,11,142,53,8
    LTEXT           "-- nie zalogowano --",IDC_STATIC11,74,86,114,8
    LTEXT           "-- nie zalogowano --",IDC_STATIC12,74,100,114,8
    LTEXT           "-- nie zalogowano --",IDC_STATIC13,74,114,114,8
    LTEXT           "-- nie zalogowano --",IDC_STATIC14,74,128,114,8
    LTEXT           "-- nie zalogowano --",IDC_STATIC15,74,142,114,8
    PUSHBUTTON      "Zmieñ &has³o",IDC_BUTTON8,56,156,66,14
    PUSHBUTTON      "&Usuñ konto...",IDC_BUTTON7,122,156,66,14
END

IDD_DIALOG6 DIALOG DISCARDABLE  0, 0, 200, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rejestracja u¿ytkownika"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&Zarejestruj",IDOK,93,109,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,143,109,50,14
    LTEXT           "Nazwa u¿ytkownika:",IDC_STATIC,7,7,67,8
    EDITTEXT        IDC_EDIT6,7,17,186,12,ES_AUTOHSCROLL
    LTEXT           "Has³o:",IDC_STATIC,7,34,24,8
    EDITTEXT        IDC_EDIT7,7,44,186,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Powtórz has³o:",IDC_STATIC,7,61,51,8
    EDITTEXT        IDC_EDIT8,7,71,186,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Pamiêtaj, rejestruj¹c siê w serwisie, akceptujesz regulamin wybranego us³ugodawcy.",
                    IDC_STATIC,7,87,186,18
END

IDD_DIALOG7 DIALOG DISCARDABLE  0, 0, 200, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Usuwanie konta"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&Usuñ konto",IDOK,93,39,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,143,39,50,14
    LTEXT           "Has³o:",IDC_STATIC,7,7,24,8
    EDITTEXT        IDC_EDIT12,7,17,186,12,ES_PASSWORD | ES_AUTOHSCROLL
END

IDD_DIALOG8 DIALOG DISCARDABLE  0, 0, 200, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Zmiana has³a"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&Zmieñ has³o",IDOK,93,89,50,14
    PUSHBUTTON      "&Anuluj",IDCANCEL,143,89,50,14
    LTEXT           "Obecne has³o:",IDC_STATIC,7,7,49,8
    EDITTEXT        IDC_EDIT9,7,17,186,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Nowe has³o:",IDC_STATIC,7,34,43,8
    EDITTEXT        IDC_EDIT10,7,44,186,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Powtórz nowe has³o:",IDC_STATIC,7,61,70,8
    EDITTEXT        IDC_EDIT11,7,71,186,12,ES_PASSWORD | ES_AUTOHSCROLL
END
